.wp-block-image {
  padding: 2rem;
}

.wp-image-166 {
  border-radius: 50px;
}

.JesseBlurb {
  -webkit-box-shadow: 10px 13px 20px 13px rgba(95, 122, 104, 0.55);
  -moz-box-shadow: 10px 13px 20px 13px rgba(95, 122, 104, 0.55);
  box-shadow: 10px 13px 20px 13px rgba(95, 122, 104, 0.55);
  padding: 30px;
  border-radius: 30px;
  margin-top: -8rem;
  position: relative;
  z-index: 1;
  background-color: white;
}

.wp-image-166 {
  max-height: 450px;
  width: auto;
}


